<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>optionalFeatures</key>
    <dict>
      <key>acceptableCameraUsage</key>
      <true/>
      <key>acceptableScreenSharingUsage</key>
      <true/>
      <key>aggressiveUserExperience</key>
      <true/>
      <key>aggressiveUserFullScreenExperience</key>
      <true/>
      <key>asynchronousSoftwareUpdate</key>
      <true/>
      <key>attemptToFetchMajorUpgrade</key>
      <false/>
      <key>disableSoftwareUpdateWorkflow</key>
      <false/>
      <key>enforceMinorUpdates</key>
      <true/>
    </dict>
    <key>osVersionRequirements</key>
    <array>
      <dict>
        <key>aboutUpdateURL</key>
        <string>https://abb.service-now.com/myservices?id=kb_article&amp;sys_id=ba63ebcb87161918c3bc32270cbb3536</string>
        <key>requiredInstallationDate</key>
        <string>2025-02-24T00:00:00Z</string>
        <key>requiredMinimumOSVersion</key>
        <string>15.3.1</string>
        <key>targetedOSVersionsRule</key>
        <string>15</string>
      </dict>
    </array>
    <key>userExperience</key>
    <dict>
      <key>allowGracePeriods</key>
      <true/>
      <key>gracePeriodInstallDelay</key>
      <integer>1</integer>
      <key>gracePeriodLaunchDelay</key>
      <integer>1</integer>
      <key>gracePeriodPath</key>
      <string>/private/var/db/.AppleSetupDone</string>
      <key>imminentRefreshCycle</key>
      <integer>300</integer>
      <key>initialRefreshCycle</key>
      <integer>900</integer>
      <key>nudgeRefreshCycle</key>
      <integer>60</integer>
    </dict>
    <key>userInterface</key>
    <dict>
      <key>iconDarkPath</key>
      <string>/Users/Shared/ABB.png</string>
      <key>iconLightPath</key>
      <string>/Users/Shared/ABB.png</string>
      <key>showDeferralCount</key>
      <false/>
      <key>simpleMode</key>
      <false/>
      <key>updateElements</key>
      <array>
        <dict>
          <key>_language</key>
          <string>en</string>
          <key>informationButtonText</key>
          <string>Need Help..! click the [KB0036095]</string>
          <key>mainContentText</key>
          <string>A fully up-to-date device is required to ensure that ABB corporate data stored on your device is safe and less vulnerable to malware attacks.\n\nIf you do not update your device, your device will be removed from ABB management tool – Jamf and you may lose access to ABB corporate data and standard services like VPN.\n\nTo begin the update, simply click the "Update Device" button and follow the on-screen instructions.\n\nIf you are having trouble to update the device, Restart the MAC and try again.\n\nIf your problem doesn't go away, try clicking the (Need Help..!) button or send an email to ch.gf.is.global.mac.support@abb.com.</string>
          <key>subHeader</key>
          <string>A friendly reminder from your ABB MAC team</string>
        </dict>
      </array>
    </dict>
  </dict>
</plist>